@font-face {font-family: "title"; src: url("../fonts/ABCMaxiRound-Light-Trial.woff");}
@font-face {font-family: "regular"; src: url("../fonts/ABCMaxiRound-Regular-Trial.woff");}

html, body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  cursor: default;
}

html::-webkit-scrollbar {
  height:7px;
}

html::-webkit-scrollbar-track {
    background-color: rgba(255,255,255,.2);
}

html::-webkit-scrollbar-thumb {
  background-color: rgba(102,153,204,0.3);
}

#landing{
	font-family: "title";
  -webkit-text-stroke: 3px ;
  color: rgba(255,255,255,.1);
  font-size: 10em;
  position: absolute;
  top: 50%;
  left: 40%;
  z-index: 1;
  text-transform: uppercase;
}

#circuit{
  position: fixed;
  top: 40vh;
  left: 10vw;
  animation: appear 10s linear;
  opacity: 0;
}

@keyframes appear{
  20%{
      opacity: 0
  }  
  100%{
    opacity: 1
  }
}

.light {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 80px;
  border-radius: 50%;
  background-color: #000;
  box-shadow: 0 0 40px 20px #fff, 0 0 100px 50px #0ff;
  transition: box-shadow 4s ease-out;
  animation: spin 16s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.light:hover {
  cursor: pointer;
}

.light::before, .light::after {
  content: '';
  display: block;
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #6699FF;
  box-shadow: 0 0 40px 20px #fff, 0 0 100px 50px #6699CC;
  opacity: 0;
  transition: opacity 8s, transform 8s;
}

.on {
  background-color: #fff;
  opacity: 0.5;
  box-shadow: 0 0 80px 40px #fff, 0 0 200px 100px #3366FF;
}

#info {
  font-family: "regular";
  color: rgba(255,255,255,.3);
  position: absolute;
  width: 30vw;
  left: 105vw;
  top: 62vh;
}

button{
  font-family: "regular";
  position: absolute;
  bottom: 0;
  left: 130vw;
  background-color: black;
  border: none;
  animation: appear 5s linear;
}

button a {
  font-size: 1.5em;
  color: rgba(255,255,255,.7);
}

button:hover {
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #6699CC, 0 0 40px #6699CC, 0 0 50px #6699CC, 0 0 60px #6699CC, 0 0 70px #6699CC;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #3366FF, 0 0 40px #3366FF, 0 0 50px #3366FF, 0 0 60px #3366FF, 0 0 70px #3366FF, 0 0 80px #3366FF;
  }
}

/*gallery page */

#owner {
  font-family: "regular";
  color: rgba(255,255,255,.3);
  position: fixed;
  top: 12vh;
  right: -3vw;
  transform: rotate(-90deg);
}

#header{
  font-family: "title";
  text-transform: uppercase;
  font-size: 10em;
  position: absolute;
  top: 50%;
}

#header h1 a{
  -webkit-text-stroke: 3px rgba(255,255,255,.7) ;
  color: rgba(255,255,255,.1);
}

#header :hover {
  color: #6699CC
}

#about {
  font-family: "regular";
  color: rgba(255,255,255,.7);
  font-size: 1.5em;
  width: 45vw;
  position: absolute;
  top: 80%;
  left: 50%;
}

#gallery {
  position: absolute;
  margin-left: 6vw;
  width:100vw;
  top: 110vh;
  color: rgba(255,255,255,.7);
  opacity: 0;
}

.showing{
  opacity: 1;
  animation: showScroll 3s ease-in forwards;
  animation-iteration-count: 1;
}

@keyframes showScroll{
  2%{
      opacity: 0
  }  
  100%{
    opacity: 1
  }
}

.product{
  display: inline-block;
  width: 32vw;
  height: 50vh;
}

.qr{
  width: 20vw;
  height: 40vh;
}

h2.tombstone {
  color: rgba(255,255,255,.7);
  font-family: "regular";
  position: relative;
  width: 30vw;
  left: 33%;
  transform: translate(-50%,0);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5em;
}

h2.tombstone:hover {
  color: #6699CC;
}

#circuit2{
  position: absolute;
  margin-left: 6vw;
  width:100vw;
  top: 110vh;
  color: rgba(255,255,255,.7);
  z-index: -1;
}

.sparkle {
  position: absolute;
  width: 15px;
  height: 15px;
  margin: 80px;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.9);
  z-index: -2;
  opacity: 1;
}

.item{
  display: inline-block;
  width: 32vw;
  height: 50vh;
}  

.s-one {
  box-shadow: 0 0 40px 20px #6699CC, 0 0 100px 50px #0033CC;
  position: absolute;
  top: 8vh;
  left: 3vw;
}

.s-two{
  box-shadow: 0 0 40px 20px #99CCFF, 0 0 100px 50px #6699CC;
}

.s-three{
  box-shadow: 0 0 40px 20px #6699CC, 0 0 100px 50px #00CCFF;
  position: absolute;
  top: 10vh;
  right: 15vw;
}

.s-four{
  box-shadow: 0 0 40px 20px #0033CC, 0 0 100px 50px #6699CC;
  position: absolute;
  left: 10vw;
}

.s-five {
  box-shadow: 0 0 40px 20px #6699CC, 0 0 100px 50px #3366FF;
  position: absolute;
  top: 60vh;
  left: 35vw;
}

.s-six{
  box-shadow: 0 0 40px 20px #336699, 0 0 100px 50px #6699CC;
}

.show {
    opacity: 0.7;
}

.hide {
  opacity: 0;

}

#home {
  position: fixed;
  top: 2vh;
  left: 1vw;
  font-family: "regular";
}

#home a {
  color: rgba(255,255,255,.3);
  font-size: 1em;
  text-transform: uppercase;
}

#home:hover {
  color: white;
  animation: glow 1s ease-in-out infinite alternate;
}

#project-header{
  font-family: "title";
  text-transform: uppercase;
  font-size: 10em;
  position: absolute;
  bottom: 25vh;
  -webkit-text-stroke: 3px rgba(255,255,255,.7) ;
  color: rgba(255,255,255,.1);
}

#project-header h1{
    max-width: 40vw;
}

#detail-tombstone{
  font-family: "title";
  color: rgba(255,255,255,.7);
  font-size: 1.5em;
  width: 45vw;
  position: absolute;
  top: 77vh;
  left: 44vw
}

#how-to {
  font-family: "regular";
  color: rgba(255,255,255,.2);
  position: fixed;
  top: 12vh;
  left: 44vw;
}

#image {
  position: absolute;
  top: 15vh;
  left: 44vw;
  max-width: 50vw;
  max-height: 60vh;
/*  background-color: white;*/
}

#nav {
  position: absolute;
  bottom: 1vh;
  right: 2vw;
}

#nav a {
    color: rgba(255,255,255,.8);
    font-size: 1.5em;
    font-family: "title";
}

#nav:hover{
  color: white;
  animation: glow 1s ease-in-out infinite alternate;
}

canvas {
  max-width: 50vw;
  max-height: 60vh;
}

canvas:hover {
  cursor: grab;
}

/*final*/

#final-landing h2 a{
  font-family: "title";
  -webkit-text-stroke: 2px rgba(102,153,255,.8);
  color: rgba(255,255,255,.1);
  font-size: 6em;
  position: absolute;
  top: 2vh;
  left: 0;
  z-index: 1;
  text-transform: uppercase;
}

#final-landing h2 a:hover {
  color: white;
  opacity: 0.8;
  animation: glow 1s ease-in-out infinite alternate;
}

#finalImage {
  position: absolute;
  top: 15vh;
  left: 50%;
  transform: translate(-50%, 0);
}

#finalImage img {
  width: 60vw;
}

#creator h3{
  line-height: 1.25em;
  position: absolute;
  font-family: "regular", sans-serif;
  font-size: 1.5em;
  top: 90vh;
  left: 75vw;
  color: rgba(102,153,255,.6);
}

#creator h3 a {
  padding: 2px;
  font-family: "regular";
  text-decoration: underline;

  color: rgba(102,153,255,.6);
}

#creator h3 a:hover {
  color: #99CCCC;
  opacity: 0.8;
  animation: outGlow 1s ease-in-out infinite alternate;
}

@keyframes outGlow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #6699CC, 0 0 40px #6699CC, 0 0 50px #6699CC, 0 0 60px #6699CC, 0 0 70px #6699CC;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #3366FF, 0 0 40px #3366FF, 0 0 50px #3366FF, 0 0 60px #3366FF, 0 0 70px #3366FF, 0 0 80px #3366FF;
  }
}
